* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.main {
    text-align: center;
    margin: 2% auto;
    padding: 2%;
}

.profile-photo {
    width: 20%;
}

.linkbtn {
    margin: 2% 0;
    font-size: 220%;
    border-radius: 20px;
    border-color: #112D4E;
    border-width: medium;
    color: #112D4E;
    background: #DBE2EF;
}

.tag {
    font-size: 250%;
    color: #112D4E;
    font-weight: bold;
}

.name {
    font-weight: bolder;
    font-size: 270%;
    color: #112D4E;
}

.desc,
.edu {
    font-weight: lighter;
    font-size: 150%;
    color: #112D4E;
}
